/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#grid{
	-fx-background-color:rgb(51,51,51);
}

.button{
	-fx-background-radius:12px;
	-fx-border-radius:12px;
	-fx-border-color:orange;
	-fx-border-width:4px;
	-fx-text-fill:orange;
	-fx-font-weight:bold;
	-fx-font-size:28px;
	-fx-background-color:rgb(51,51,51);
}

#infoText{
	-fx-background-color:rgb(51,51,51);
	-fx-alignment:center;
	-fx-font-weight:bold;
}

#menu{
	-fx-background-color:rgb(51,51,51);
}

#menu .label{
	-fx-text-fill:orange;
	-fx-font-weight:bold;
}

.menu-item{
	-fx-background-color:rgb(51,51,51);
}

